<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>

 <audio id="audio" controls="" preload="none" autoplay="autoplay">
      <source id="mp3" src="https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/gasLsIDjLTQNoxhiCtoz8pcxjNlM14BR/%E4%B8%8D%E5%8F%AF%E8%83%BD%E9%94%99%E8%BF%87%E4%BD%A0.m4a">
  </audio>
  <link rel="stylesheet" href="https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/moIxaTNWflwCjxSzDHSxDahoEq5P4UJe/APlayer.min.css">
    <script src="https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/3jNAJA9V5FYJvKYOeDGLl5UFCti8E27w/APlayer.min.js"></script>
      <div id="aplayer"></div><script>
    var ap = new APlayer
    ({
        element: document.getElementById('aplayer'),
        showlrc: false,
        fixed: true,
        mini: true,
        autoplay: true,
        audio:[{
            title: '二十二',
            author: '陶喆',
            url: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/y7iIAhTM8GDgIJTCzaOFP8hRkNXKF5gF/%E4%BA%8C%E5%8D%81%E4%BA%8C.mp3',
            pic: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/0VfUtXHqdzrpmJRhiM2RdXnXf97F6MCi/%E4%BA%8C%E5%8D%81%E4%BA%8C_pic.webp'
        },
        {
            title: '不可能错过你',
            author: '王力宏',
            url: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/xeorw4fhLVyf6aXst1ChooTOQaGHUiYm/%E4%B8%8D%E5%8F%AF%E8%83%BD%E9%94%99%E8%BF%87%E4%BD%A0.mp3',
            pic: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/iRbU81CnSOSUjGqW4Blg5t6bXnGEvMlX/%E4%B8%8D%E5%8F%AF%E8%83%BD%E9%94%99%E8%BF%87%E4%BD%A0_pic.jpg'
        },
        {
            title: 'last dance',
            author: '伍佰',
            url: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/SbGJPpvLk9pOlKSIfe6d6C5e7M8N4NeM/last_dance%28%E4%BC%8D%E4%BD%B0%29.mp3',
            pic: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/GFUJXzTcAKLUyGTXfDaAxCszI86fVetw/last_dance_pic.webp'
        },
        {
            title: '有没有一首歌会让你想起我',
            author: '周传雄_小刚',
            url: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/7VfwsF3VwoKH2b7OebBE5Av6zytGbsN5/%E6%9C%89%E6%B2%A1%E6%9C%89%E4%B8%80%E9%A6%96%E6%AD%8C%E4%BC%9A%E8%AE%A9%E4%BD%A0%E6%83%B3%E8%B5%B7%E6%88%91.mp3',
            pic: 'https://lc-gluttony.s3.amazonaws.com/mOPjCqSBCs4Z/1yHJvvAX1e8zmbXwdeygUxzvDdQfVg1R/%E6%9C%89%E6%B2%A1%E6%9C%89%E4%B8%80%E9%A6%96%E6%AD%8C%E4%BC%9A%E8%AE%A9%E4%BD%A0%E6%83%B3%E8%B5%B7%E6%88%91_pic.webp'
        },
        ] 
    });
    ap.init();
</script>
  
</div>
